
/* -------GOOGLE FONTS------- */

/* font-family: 'Lexend Deca', sans-serif;     */
/* font-family: 'Big Shoulders Display', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


/* ------VARIABLES------ */

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --darker-cyan: hsl(179, 100%, 13%);

    --trans-white: hsla(0, 0%, 100%, 0.75);
    --light-gray: hsl(0, 0%, 95%);
}


/* ---------BODY & HEADER-------- */

body {
    background-color: var(--light-gray);
}

h1 { 
    font-size: 11px; 
    text-align: center; 
    
}

h1 a { 
    color: hsl(228, 45%, 44%); 
}

/* ----------MAIN--------- */

.outer-container {
    width: 850px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}

.left-container {
    background-color: var(--bright-orange);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 35px;
}


.middle-container {
    background-color: var(--dark-cyan);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 35px;
}

.right-container {
    background-color: var(--darker-cyan);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 35px;
}

img {
    margin-top: 40px;
}

h2 {
    color: var(--light-gray);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
}

p {
    color: var(--trans-white);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    margin-right: 20px;
    position: relative;
    bottom: 20px;
    line-height: 1.6rem;
    padding-right: 20px;
    
}

/* --------BUTTONS--------- */

button {
    border: none;
    background-color: var(--light-gray);
    text-align: center;
    padding: 15px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    margin-top: 30px;
    
}

button:hover {
    cursor: pointer;
    border: 2px solid var(--trans-white);
    background-color: inherit;
    color: var(--trans-white);
}

.left-button {
    color: var(--bright-orange);
}

.middle-button {
    color: var(--dark-cyan);
}

.right-button {
    color: var(--darker-cyan);
}